main {
  width: 90%;
  margin: auto;
  height: 800px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bookMarks {
  height: 90%;
  overflow-y: auto;
  width: 100%;
  padding-right: 15px;
}

p {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  main {
      height: 250px;
  }

  p {
    display: none;
  }

}
