 <app-header></app-header>

 <main>
   <div class="bookMarks">
     <app-book-marks></app-book-marks>
   </div>
   <!-- <div class="bookMarksMobile">
     <button class="bookMarks__button" (click)="openBookMarks()">Bookmarks</button>
     <div class="bookMarks__container" [ngStyle]="{display: displayBookMarks ? 'block' : 'none'}">
       <app-book-marks></app-book-marks>
     </div>
   </div> -->
   <div class="searchRepo">
     <app-search></app-search>
     <app-search-results></app-search-results>
   </div>
 </main>
