main{
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

img{
  display: block;
  width: 30%;
  margin: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
  main{
      width: 90%;
      margin: auto;
      margin-top: 0;
  }
    
  }