main{
  width: 40%;
  margin: auto;
  margin-top: 50px;
  height: 500px;
  overflow-y: auto;
}


@media (min-width: 320px) and (max-width: 480px) {
  main{
      width: 90%;
      margin: auto;
      margin-top: 0;
  }
    
  }